In [1]:
import io
import json
import pandas as pd
import requests
import time

API_KEY = "824d4b3157be6c75e79982be9f7ee822770f37d5aa6542fcb260ce492375"

In [63]:
r = requests.get(
        "https://data-api.defipulse.com/api/v1/defipulse/api/getLendingHistory?", 
        params={
            'api-key': API_KEY
        }
)
print(r.status_code)
df = pd.DataFrame(json.loads(r.content.decode()))
df.timestamp = pd.to_numeric(df.timestamp, errors='coerce')
df = df.dropna()
df['date'] = pd.to_datetime(df.timestamp, unit='s').dt.date

def get_usdt(r, which="USDT"):
    try:
        return r[which]['USD']
    except:
        return 0

df['usdt'] = df.outstanding.apply(get_usdt, which="USDT")
df['total'] = df.outstanding.apply(get_usdt, which="total")
df.tail()

,timestamp,lend_rates,borrow_rates,interest_speed,outstanding,date,usdt,total
0,1.621094e+09,"{'maker': 0.010006849657786733, 'compound': 5....","{'maker': 3.9381380484313837, 'compound': 8.03...","{'total': {'USD': 1415213549.3625226, 'ETH': 3...","{'total': {'USD': 18058438753.60754, 'ETH': 46...",2021-05-15,1.508380e+09,1.805844e+10
1,1.620950e+09,"{'maker': 0.010006849657786733, 'compound': 4....","{'maker': 3.9200117046667717, 'compound': 6.55...","{'total': {'USD': 1202329640.1821232, 'ETH': 3...","{'total': {'USD': 18283329731.53686, 'ETH': 49...",2021-05-14,1.416258e+09,1.828333e+10
2,1.620864e+09,"{'maker': 0.010006849657786733, 'compound': 4....","{'maker': 3.94379985528959, 'compound': 6.0224...","{'total': {'USD': 1277515185.653906, 'ETH': 33...","{'total': {'USD': 17683754115.815212, 'ETH': 4...",2021-05-13,1.476899e+09,1.768375e+10
3,1.620778e+09,"{'maker': 0.010006849657786733, 'compound': 3....","{'maker': 3.9330574227109873, 'compound': 5.46...","{'total': {'USD': 1286369956.733976, 'ETH': 30...","{'total': {'USD': 18501570688.281025, 'ETH': 4...",2021-05-12,1.461596e+09,1.850157e+10
4,1.620691e+09,"{'maker': 0.010006849657786733, 'compound': 3....","{'maker': 3.9258339982210875, 'compound': 5.42...","{'total': {'USD': 1231906235.7567189, 'ETH': 3...","{'total': {'USD': 18232657510.60066, 'ETH': 46...",2021-05-11,1.425071e+09,1.823266e+10
...,...,...,...,...,...,...,...,...
1240,1.513901e+09,{'maker': None},{'maker': None},"{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...","{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...",2017-12-22,0.000000e+00,0.000000e+00
1241,1.513814e+09,{'maker': None},{'maker': None},"{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...","{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...",2017-12-21,0.000000e+00,0.000000e+00
1242,1.513728e+09,{'maker': None},{'maker': None},"{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...","{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...",2017-12-20,0.000000e+00,0.000000e+00
1243,1.513642e+09,{'maker': None},{'maker': None},"{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...","{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...",2017-12-19,0.000000e+00,0.000000e+00
1244,1.513555e+09,{'maker': None},{'maker': None},"{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...","{'total': {'USD': 0, 'ETH': 0}, 'DAI': {'USD':...",2017-12-18,0.000000e+00,0.000000e+00

In [ ]:
df.to_csv('lending.csv', index=False)

In [60]:
r = requests.get(
        "https://data-api.defipulse.com/api/v1/defipulse/api/GetHistory?", 
        params={
            'api-key': API_KEY
        }
)
print(r.status_code)
df = pd.DataFrame(json.loads(r.content.decode()))
df.timestamp = pd.to_numeric(df.timestamp, errors='coerce')
df = df.dropna()
df['date'] = pd.to_datetime(df.timestamp, unit='s').dt.date
df

200

,timestamp,tvlUSD,tvlETH,BTC,ETH,DAI,date
0,1621094400,82927286340,2.122482e+07,167513.931928,9.997835e+06,2.788430e+09,2021-05-15
1,1621036800,85573135899,2.097103e+07,168096.208442,1.004068e+07,2.772737e+09,2021-05-15
2,1620950400,78474633419,2.109522e+07,165570.830203,1.006574e+07,2.683869e+09,2021-05-14
3,1620864000,78492368915,2.061791e+07,169617.047758,1.001609e+07,2.863273e+09,2021-05-13
4,1620777600,86711087930,2.075108e+07,169230.064042,1.010175e+07,2.918549e+09,2021-05-12
...,...,...,...,...,...,...,...
1338,1505520000,1395519,5.376272e+03,0.000000,4.515597e+03,0.000000e+00,2017-09-16
1339,1505433600,1322049,5.924751e+03,0.000000,4.676355e+03,0.000000e+00,2017-09-15
1340,1505347200,1761431,6.385698e+03,0.000000,4.764425e+03,0.000000e+00,2017-09-14
1341,1505260800,2187923,7.439385e+03,0.000000,4.594948e+03,0.000000e+00,2017-09-13
1342,1505174400,2100574,7.050089e+03,0.000000,4.643140e+03,0.000000e+00,2017-09-12

In [61]:
df.to_csv("tvl.csv", index=False)

In [4]:
r = requests.get(
        "https://data-api.defipulse.com/api/v1/defipulse/api/GetHistory?", 
        params={
            'api-key': API_KEY,
            "category": "assets"
        }
)
print(r.status_code)
df = pd.DataFrame(json.loads(r.content.decode()))
df.timestamp = pd.to_numeric(df.timestamp, errors='coerce')
df = df.dropna()
df['date'] = pd.to_datetime(df.timestamp, unit='s').dt.date
df

200

,timestamp,tvlUSD,tvlETH,BTC,ETH,DAI,date
0,1621170000,81211414237,2.141104e+07,168486.469996,1.004347e+07,2.888545e+09,2021-05-16
1,1621123200,78431469417,2.151867e+07,168084.695546,1.003207e+07,2.786323e+09,2021-05-16
2,1621036800,85573135899,2.097103e+07,168096.208442,1.004068e+07,2.772737e+09,2021-05-15
3,1620950400,78474633419,2.109522e+07,165570.830203,1.006574e+07,2.683869e+09,2021-05-14
4,1620864000,78492368915,2.061791e+07,169617.047758,1.001609e+07,2.863273e+09,2021-05-13
...,...,...,...,...,...,...,...
1339,1505520000,1395519,5.376272e+03,0.000000,4.515597e+03,0.000000e+00,2017-09-16
1340,1505433600,1322049,5.924751e+03,0.000000,4.676355e+03,0.000000e+00,2017-09-15
1341,1505347200,1761431,6.385698e+03,0.000000,4.764425e+03,0.000000e+00,2017-09-14
1342,1505260800,2187923,7.439385e+03,0.000000,4.594948e+03,0.000000e+00,2017-09-13
1343,1505174400,2100574,7.050089e+03,0.000000,4.643140e+03,0.000000e+00,2017-09-12

In [3]:
df

,timestamp,tvlUSD,tvlETH,BTC,ETH,DAI,date
0,1621170000,81211414237,2.141104e+07,168486.469996,1.004347e+07,2.888545e+09,2021-05-16
1,1621123200,78431469417,2.151867e+07,168084.695546,1.003207e+07,2.786323e+09,2021-05-16
2,1621036800,85573135899,2.097103e+07,168096.208442,1.004068e+07,2.772737e+09,2021-05-15
3,1620950400,78474633419,2.109522e+07,165570.830203,1.006574e+07,2.683869e+09,2021-05-14
4,1620864000,78492368915,2.061791e+07,169617.047758,1.001609e+07,2.863273e+09,2021-05-13
...,...,...,...,...,...,...,...
1339,1505520000,1395519,5.376272e+03,0.000000,4.515597e+03,0.000000e+00,2017-09-16
1340,1505433600,1322049,5.924751e+03,0.000000,4.676355e+03,0.000000e+00,2017-09-15
1341,1505347200,1761431,6.385698e+03,0.000000,4.764425e+03,0.000000e+00,2017-09-14
1342,1505260800,2187923,7.439385e+03,0.000000,4.594948e+03,0.000000e+00,2017-09-13
1343,1505174400,2100574,7.050089e+03,0.000000,4.643140e+03,0.000000e+00,2017-09-12

In [ ]:
df.to_csv('assets.csv', index=False)